:root{
    --cor-link: rgb(187, 187, 255);
    --cor-link-hover: darkblue;
    --cor-container: rgb(23, 22, 43);
    --borda-padrao: 0.05rem white solid;
    --margem-texto: 1.5em;
    --margem-item: 15em;
    --sombra-padrao: 0.5rem 0.5rem 5rem rgba(122, 122, 122, 0.50);


    font-size: 10px;
}
@keyframes animacao-cores-01{
    0%{color: white}
    20%{color: rgb(0, 0, 255);}
    40%{color: rgb(255, 0, 0)}
    60%{color: rgb(0, 255, 0)}
    80%{color: white}
}
@keyframes animacao-cores-hover{
    0%{color: blue}
    50%{color: rgb(0, 153, 255)}
}
@keyframes animacao-cores-02{
    0%{background-color: white}
    20%{background-color: rgb(0, 0, 255);}
    40%{background-color: rgb(255, 0, 0)}
    60%{background-color: rgb(0, 255, 0)}
    80%{background-color: white}
}

/* Classe: Doto */
.doto-fonte-mono {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "ROND" 0;
}

/* Classes: Lekton */
.lekton-regular {
  font-family: "Lekton", monospace;
  font-weight: 400;
  font-style: normal;
}
.lekton-bold {
  font-family: "Lekton", monospace;
  font-weight: 700;
  font-style: normal;
}
.lekton-regular-italic {
  font-family: "Lekton", monospace;
  font-weight: 400;
  font-style: italic;
}

.syne-mono-regular {
  font-family: "Syne Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Lekton", monospace;
    color: white;
    box-sizing: border-box;
}

a{
    font-size: inherit;
    color: var(--cor-link);
}
a:hover{
    color: var(--cor-link-hover);
    animation: 0.5s animacao-cores-hover infinite;
    text-decoration-line: overline;
}

/* Configuração das fontes */
h1{
    font-size: 4.5rem;
    margin-bottom: var(--margem-texto);
}

h2{
    font-size: 4.2rem;
    font-family: "Lekton", monospace;
    margin-bottom: var(--margem-texto);
    text-transform: uppercase;
}

h3{
    font-size: 3.5rem;
    font-family: "Lekton", monospace;
    margin-bottom: var(--margem-texto);
    margin-top: var(--margem-texto);
}

p{
    font-size: 3rem;
    font-family: "Lekton", monospace;
    margin-bottom: var(--margem-texto);
}

a{
    font-size: 1.6rem;
}
a:hover{
    color: blue;
}

body{
    min-height: 100vh;
    background-color: black;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    border-bottom: var(--borda-padrao);
    background-color: var(--cor-container);
}

nav{
    width: 100%;
    border-bottom: var(--borda-padrao);
    background-color: var(--cor-container);
    position: fixed;
    min-height: 5em;
    box-shadow: 0.5rem 0.5rem 1rem black;
}

nav > ul, a{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-family: "Syne Mono", monospace;
    font-size: 3.5rem;
    font-style: normal;
    list-style: none;
    text-decoration: none;
    color: white;
}

nav > ul > li{
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 3rem;
    background-color: black;
    width: 80%;
    min-height: 100vh;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 5.5em;
}

main p{
    text-align: justify;
}


footer p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.apresentacao{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: auto;
    padding-top: 10%;
    padding-bottom: 10%;
    font-family: "Doto", monospace;
    height: 100vh;
}

#apresentacao-item-01{
    grid-column: 1/2;
    text-align: center;
    font-family: "Doto", monospace;
    animation: animacao-cores-01 6s infinite;
}

#apresentacao-item-02{
    grid-column: 3/4;
    text-align: center;
    font-family: "Doto", monospace;
    animation: animacao-cores-01 6s infinite;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    background-color: var(--cor-container);
    border: var(--borda-padrao);
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: var(--margem-item);
    box-shadow: var(--sombra-padrao);
}

.container-linha{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: var(--margem-item);
    gap: 4%;
}

.item-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--cor-container);
    border: var(--borda-padrao);
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: var(--sombra-padrao);
}

#img-rayman{
    padding: 0;
}
#img-hackerman, #img-hexatombe{
    width: 30%;
    border: var(--borda-padrao);
}

#img-disco-elysium{
    width: 70%;
    border: var(--borda-padrao);
}

.container-tabela{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
#elliot{
    font-family: "Doto", monospace;
    animation: animacao-cores-01 1s infinite;
}

iframe{
    width: 50%;
    max-width: 180rem;
    min-height: 40rem;
    height: 10%;
    max-height: 120rem;
    margin-bottom: 1rem;
}

table{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--borda-padrao);
}

tr, td, th{
    border: var(--borda-padrao);
    margin: 0;
    padding: 1rem;
    font-family: "Lekton", monospace;
}

td, td > a{
    font-size: 3rem;
}
th{
    font-size: 3.5rem;
}
br{
    margin-bottom: 20em;
}

/* GUESS */

.campo{
    border: var(--borda-padrao);
    color:black;
    font-family: "Lekton", monospace;
    font-size: 5rem;
    text-align: center;
    margin-bottom: 0.5em;
}

button{
    animation: 1s animacao-cores-02 infinite;
    border: black;
    color:black;
    font-family: "Lekton", monospace;
    font-size: 3rem;
    text-align: center;
    margin-bottom: var(--margem-texto);
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
}

label{
    font-family: "Lekton", monospace;
    color: white;
    font-size: 2rem;
}

#texto{
    font-family: "Doto", monospace;
}

.output > p{
    text-align: center;
}